h1 {
    color:#0c9ee2;
    text-align: center;
}


#searchBar {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputBox {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.submit {
    display:block;
}