body {
    font-family: 'Inter', sans-serif;
}
div.country {   
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #e77213;
    height: 100px;
}

label {
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
}
h1 {
    color:#2c1c05;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;


}

.searchBar {
    background: #1346ec;
    padding: 10px;
    width: 400px;
}

input {
    display: flex;
    padding: 10px;
    margin: 10px 0;
}

#inputBox {
    display: inline-flex;
    border-radius: 10px;
    border: 1px solid #eeeeeeea;
    transition: 2s border-color;
    margin-left: 70px;
    font-size: 15px;
}
#inputBox:hover {
    border: 5px solid #aaa;
}

button {
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:focus {
    background-color: #da0d0d;
}

.country-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
}

.card {
    display: flex;
    background-color: #16c76eb0;
    max-width: 330px;
    text-align: left;
    margin: 5px 5px;
    padding: 0.7rem;
    transition: 0.10s ease-in;
    border-radius: 5px;
    border: #bacdd8;
    font-size: 15px;
}

.card:hover {
    transform: translateY(-15px);
}
