h1 {
    color:#0c9ee2;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

#searchBar {
    background-color: black;
    padding: 10px;
}

input {
    display: flex;
    padding: 10px;
    margin: 10px 0;
}

#inputBox {
    display: inline-flex;
    border-radius: 10px;
    border: 3px solid #eeeeeeea;
    transition: .3s border-color;
}
#inputBox:hover {
    border: 2px solid #aaa;
}

.submit {
    font-size: 20px;
    border-radius: 5px;
    background-color: #19da63;
    cursor: pointer;
    transition: all 0.5s;
    justify-content: right;
    
}

#country-cards {
    display: flex;
}